@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: black;
  font-family: "Poppins", sans-serif;
}

 .auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  }
  
  .spinner {
      animation: spin 0.6s linear infinite;
    }

    @keyframes spin {
      to { transform: rotate(360deg); }
    
  }


.slide-from-bottom{
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s ease;
}

.slide-from-bottom.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 10px;
}
.slide-from-bottom {
min-height: 400px;
width: 100%;
aspect-ratio: 2 / 3;
}
}
